@import "../../css/colors.css";

.green-flag {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
<<<<<<< HEAD
    transition: all 0.2s ease-in-out;
=======
>>>>>>> c455eacd8a66d4b9086f751ca07e203c7ed36571
}

.green-flag:hover {
    background-color: $looks-light-transparent;
}

.green-flag.is-active {
    background-color: $looks-transparent;
}
