@import "../../css/colors.css";

<<<<<<< HEAD



@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

=======
>>>>>>> c455eacd8a66d4b9086f751ca07e203c7ed36571
.community-button {
    box-shadow: 0 0 0 1px $ui-black-transparent;
}

.community-button-icon {
    height: 1.25rem;
<<<<<<< HEAD
    transition: transform 0.2s ease-in-out; 
    
}

.community-button:hover .community-button-icon {
    animation: spinner 1.2s  ease-in-out infinite;
}

=======
}
>>>>>>> c455eacd8a66d4b9086f751ca07e203c7ed36571
