@import "../../css/units.css";

.target-pane {
    /* Makes columns for the sprite library selector + and the stage selector */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
<<<<<<< HEAD
    transition: all 0.1s ease-in-out;
=======
>>>>>>> c455eacd8a66d4b9086f751ca07e203c7ed36571
}

.stage-selector-wrapper {
    display: flex;
    flex-basis: 72px;
    flex-shrink: 0;
<<<<<<< HEAD
    transition: all 0.1s ease-in-out;
=======
>>>>>>> c455eacd8a66d4b9086f751ca07e203c7ed36571
}

[dir="ltr"] .stage-selector-wrapper {
    margin-left: calc($space / 2);
}

[dir="rtl"] .stage-selector-wrapper {
    margin-right: calc($space / 2);
}
